root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-image: url(./Diseño\ sin\ título.png);
    background-size: cover;


}



main {
    min-height: 70vh;
    width: auto;
    max-width: 95%;
    margin: 5%;
}


.encabezado {
    background-image: url(https://www.shutterstock.com/image-vector/abstract-polygonal-pattern-shades-gray-260nw-2121807389.jpg);
    background-size: cover;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;


}

nav {
    min-height: 2vh;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 10px;
    padding: .5rem;
    gap: .7rem;

}



.a1 {
    height: 2.5rem;
    text-decoration: none;
    color: black;
    background-color: rgb(175, 174, 176);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 3px 3px rgb(74, 73, 73);




}

.a1:hover {
    transform: translate(.2rem, .2rem);
}




#logo {
    height: 180px;

    margin-left: 35rem;

}


h2 {
    display: block;
    margin-left: 30%;
    font-family: cursive;
    white-space: nowrap;
    border-right: 4px;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 67%
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


section {

    margin: 0%;
    padding: .5em;
    line-height: 2;
    background: #cbc8c8;
    color: #0a0a0a;
    opacity: .7;
}

section:hover {
    transform: scale(1.1);

}

h3 {
    font-family: cursive;
    font-size: 1rem;
}

p {

    font-size: 0.8rem;
}

.contenido h2 {
    align-items: center;
    margin-left: 2%;
    padding: .4em;

}

#p1 {
    font-size: 1rem;
    margin-left: 3%;




}


img {
    height: 300px;
    opacity: .9;
    transition: 0.5s;
    margin-left: 10%;
    padding: 1rem;
    border-radius: .7em;
    align-items: center;


}

img:hover {
    transform: scale(1.2);
}


.contenedorRule {
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgb(229, 232, 235);
    opacity: .8;
    font-weight: bold;


}

.contenedorRule1 {
    padding: 5px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 5%;
    margin-bottom: 5%;
}

.contenedorRule p {
    font-size: .8rem;
    font-family: cursive;
    font-style: oblique;

}

article li {
    list-style-type: circle;
    font-size: .8rem;
    margin-left: 5%;
    justify-content: center;
    font-family: cursive;
    font-style: oblique;

}


.contenedor1 {
    display: flex;


}


.contenedor2 {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    font-weight: bold;
}

footer {
    height: 8vh;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


}

footer img {
    height: 100px;
    margin-left: 5%;
}

footer h5 {
    color: antiquewhite;
    font-family: cursive;
    margin-right: 5%;


}

table {
    width: 100%;
    border: 1px solid #000;
    font-family: cursive;
    



}

th,
td {
    width: 25%;
    text-align: left;
    border: 1px solid #000;

}

#sectionTable {

    justify-content: center;
    padding-top: 10px;
    background-color: rgb(250, 215, 249);



}

caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}

th {
    background: #eee;
}

#artiGame {
    background-color: rgb(157, 157, 157);
    
    
}

#artiGame h3 {
    font-style: oblique;
    color: #402948;
}
#artiGame p{
    font-size: .6rem;
    margin:.6rem ;
}

#contact{
    
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 5%;
    
    

}